@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.header {
	position: absolute;
	width: 100%;
	margin: 20px 0;
}

.header-nav, .header-nav ul, .header-user, .card-fav, .footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-list li {
	margin: 0 20px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	transition: 0.2s ease-in-out;
}

.header-list li:hover,  .header-user p:hover, .main-banner-text-list li:hover {
	color: #e4bb23;
}

.header-user img {
	width: 45px;
	margin-right: 10px;
	border-radius: 50%;
}

.header-user p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	transition: 0.2s ease-in-out;
}

.main-banner {
	height: 90vh;
    background-image: url('../img/capa-madmax2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.main-banner-text {
	position: relative;
	top: 30vh;
	color: #ffffff;
}

.main-banner-text h2 {
	margin-bottom: 20px;
	font-size: 65px;
	font-weight: 700;
}

.main-banner-text p {
	font-size: 14px;
}

.main-banner-text-list {
	display: flex;
	margin-bottom: 20px;
}

.main-banner-text-list li {
	margin-right: 10px;
	font-size: 14px;
	transition: 0.2s ease-in-out;
}

.btn-trailler {
	display: inline-block;
	margin-bottom: 20px;
	padding: 15px 20px 15px 50px;
	background-color: #e4bb23;
	color: #000000;
	font-size: 14px;
	border-radius: 50px;
	transition: 0.2s ease-in-out;
}
.btn-trailler i {
	margin-left: 15px;
	font-size: 20px;
}

.btn-trailler:hover {
	background-color: #bc9a1d;
}

.main-banner-text p:last-child {
	margin-top: 10px;
	color: #e4bb23;
}

.main {
	padding: 20px 0 35px;
	background-color: #f2f2f2;
}

.main-nav-list {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	/* padding-bottom: 20px; */
	border-bottom: 1px solid #cccccc;
}

.main-nav-list li {
	margin: 0 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid transparent;
	color: #e4bb23;
	font-size: 13px;
	font-weight: 700;
	transition: 0.2s ease-in-out;
}

.main-nav-list li:hover {
	padding-bottom: 20px;
	border-bottom: 1px solid #e4bb23;
}

.card-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-item {
	position: relative;
	width: 24%;
	margin-bottom: 15px;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-item img {
	width: 100%;
	transition: 0.2s ease-in-out;
}

.card-movie-info {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 78%;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	transition: 0.2s ease-in-out;
}

.card-movie-info h5 {
	margin-bottom: 20px;
	color: #e4bb23;
	font-size: 20px;
	font-weight: 700;
}

.card-movie-info i {
	color: #ffffff;
	font-size: 40px;
	transition: 0.2s ease-in-out;
}

.card-movie-info i:hover {
	color: #e4bb23;
}

.card-item:hover .card-movie-info {
	visibility: visible;
	opacity: 1;
}

.card-text {
	padding: 10px;
}

.card-text > p {
	margin: 10px 0;
	color: #e4bb23;
	font-size: 13px;
}

.card-text > p a:hover {
	text-decoration: underline;
}

.card-fav p {
	font-weight: 700;
}

.card-fav i {
	color: #cccccc;
	font-size: 20px;
	transition: 0.2s ease-in-out;
}

.card-fav i:hover {
	color: #e74c3c;
}

.footer-social {
	display: flex;
	margin: 40px 0;
}

.footer-social li {
	margin-left: 20px;
	color: #cccccc;
	font-size: 25px;
}