@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.header {
	position: absolute;
	width: 100%;
	margin: 20px 0;
}

.header-nav, .header-nav ul, .header-user {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-list li {
	margin: 0 20px;
	color: #ffffff;
}

.header-user img {
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

.header-user p {
	color: #ffffff;
}

.main-banner {
	height: 90vh;
    background-image: url(../img/capa-madmax2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.main-banner-text {
	position: relative;
	top: 30vh;
	color: #ffffff;
}

.main-banner-text h2 {
	margin-bottom: 20px;
	font-size: 65px;
	font-weight: 700;
}

.main-banner-text-list {
	display: flex;
	margin-bottom: 20px;
}

.main-banner-text-list li {
	margin-right: 10px;
}

.btn-trailler {
	display: inline-block;
	margin-bottom: 20px;
	padding: 10px 50px;
	background-color: #e4bb23;
	color: #000000;
	border-radius: 50px;
}

.main-banner-text p:last-child {
	margin-top: 10px;
	color: #e4bb23;
}

.main-nav-list {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

.main-nav-list li {
	margin: 0 20px;
	color: #e4bb23;
	font-weight: 700;
}
