@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	font-family: "Open Sans", sans-serif;
	color: #333333;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

p {
	font-size: 12px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.header {
	background-color: #ffffff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.header .container {
	justify-content: space-between;
	padding: 8px 0;
}

.header__logo {
	width: 40%;
}

.header__logo-image {
	display: block;
}

.header__icon, .feed__icon {
	font-size: 16px;
	margin: 0 8px;
}

.stories {
	margin-top: 16px;
}

.stories__list {
	display: flex;
}

.stories__list-item {
	margin: 0 8px;
}

.stories__list-item:first-child {
	margin-left: 0;
}

.stories__list-item:last-child {
	margin-right: 0;
}

.stories__list-item-link {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 78px;
    height: 78px;
    overflow: hidden;
    border-radius: 50%;
}

.stories__list-item-link--border {
    display: inline-block;
	height: 72px;
    width: 72px;
    border: 2px solid white;
	border-radius: 50%;
    overflow: hidden;
}

.stories__list-item-image {
	height: 100%;
    width: 100%;
}

.stories__new-story {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.feed__list-item {
	margin: 24px 0;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 8px;
}

.feed__list-item-header, .feed__list-item-interact {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.feed__list-item-header {
	padding: 8px;
}

.feed__profile, .feed__list-item-footer {
	display: flex;
	align-items: center;
}

.feed__profile-image {
	width: 16%;
	margin-right: 8px;
	border-radius: 50%;
}

.feed__profile-name, .feed__like-text--bold {
	font-weight: 700;
}

.feed__list-item-image {
	display: block;
	width: 100%;
}

.feed__list-item-interact {
	padding: 12px 8px;
}

.feed__icon--bigger {
	font-size: 25px;
}

.feed__list-item-footer {
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.05);
}

.feed__like-image {
	width: 10%;
	margin-right: 8px;
	border-radius: 50%;
}