@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	color: #333333;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* height: 100px; */
	padding: 15px 20px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

.header__logo {
	width: 40%;
}

.header__logo-image {
	display: block;
}

.header__icon, .feed__icon {
    font-size: 20px;
}

.history {
	margin-bottom: 20px;
	padding: 15px 20px;
}

.history__list {
	display: flex;
}

.history__list-item {
	width: 20%;
	margin-right: 15px;
}

.history__list-item:last-child {
	margin-right: 0;
}

.history__list-item-image {
	width: 100%;
	border-radius: 50%;
}

.history__list-item-image--border {
	border: 5px solid #333333;
	padding: 3px;
}