@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	color: #333333;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
	width: 90%;
	margin: 0 auto;
}

.header {
	background-color: #ffffff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.header .container {
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.header__logo {
	width: 40%;
}

.header__logo-image {
	display: block;
}

.header__icon, .feed__icon {
    font-size: 16px;
}

.stories {
	padding: 16px 0;
}

.stories__list {
	display: flex;
}

.stories__list-item {
	width: 22%;
	margin-right: 25px;
}

.stories__list-item:last-child {
	margin-right: 0;
}

.stories__list-item-image {
	display: block;
	width: 100%;
	border-radius: 50%;
}

.stories__list-item-image--border {
	
}

.stories__list-item-image--border-color {
	
}

.feed {

}

.feed__list {

}

.feed__list-item {
	
}

.feed__list-item-header {
	display: flex;
	align-items: center;
}

.feed__profile {
	display: flex;
	align-items: center;
}

.feed__profile-image {
	width: 16%;
	border-radius: 50%;
}

.feed__profile-name {

}

.feed__list-item-image {

}

.feed_list-item-interact {

}

.feed__list-item-footer {

}

.feed__like-image {

}

.feed__like-text {

}

.feed__like-text--bold {

}