@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	color: #333333;
}

ul, li {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}







